# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider / VSCode
.vscode/
.vs/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj

# OS junk
.DS_Store
Thumbs.db

# Plastic SCM (optional to ignore)
.plastic/
